body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
}

.kontener {
    width: 500px;
    margin: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: whitesmoke;
}

h1 {
    color: blue;
}

input {
    width: 95%;
    display: block;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid steelblue;
    padding-left: 10px;
}

input:focus {
    border: 3px solid blue;
}

button {
    width: 45%;
    background-color: steelblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}


/* Add a background color to the submit button on mouse-over */

button:hover {
    background-color: blue;
}

.footer {
    text-align: justify;
}

.footer::after {
    content: '';
    width: 100%;
    display: inline-block;
}

.bawah {
    display: inline-block;
}